@use '../abstracts/' as abs;

.item {
    > .group {
        display: flex;
        justify-content: space-between;
        button {
            background-color: #fff;
            border: 3px solid abs.$smd_item-error;
            border-radius: 7px;
            color: abs.$smd_item-error; 
            letter-spacing: 1.4px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s all;
            }
        }
        button:hover {
            background-color: abs.$smd_item-error;
            color: #fff;
    }
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: rgba(0, 0.8, 0.8, 0.3) 0px 2px 3px 0px;
    hr {
        border: 1px dashed #4419ef12;
    }
    a {
        color: #1876ef;
    }
    &-list {
        .item {
            width: inherit;
        }
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    &.no-data {
        background-color: abs.$smd_item-error;
        display: flex;
        justify-content: space-between;
    }
    &--error {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
    }
    &--red {
        color: #fff;
        background: abs.$smd_item-error;
        padding: 10px;
        border-radius: 5px;
    }
    &--orange {
        color: #fff;
        background: abs.$smd_item-average;
        padding: 10px;
        border-radius: 5px;
    }
    &--green {
        color: #333;
        background: abs.$smd_item-done;
        padding: 10px;
        border-radius: 5px;
    }
    &--title {
        font-size: 24px;
        font-weight: 600;
        justify-content: center!important;
    }
    &--compact {
        gap: 15px;
        justify-content: start!important;
        font-size: 20px;
        .item__prop {
            width: initial;
        }
    }
    &--coeff {
        justify-content: center!important;
        gap: 25px;
        font-size: 20px;
        .item__prop {
            text-align: center;
            width: initial;
        }
    }

    &__section {
        margin: 10px 0px;
        border: 1px solid #d3d3d3ce;
        padding: 5px;
        &.legend {
            display: flex;
            gap: 25px;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &-list#setup_info {
        grid-column: 1/-1;
    }

    &__group {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        align-items: center;
        &.f-33 {
            flex: 20%;
            .item__prop-name {
                min-width: 35%;
            }
            .item__prop {
                width: inherit;
            }
        }
    }

    &__prop-name {
        font-weight: 700;
        span {
            font-weight: normal;
        }
    }
    &__prop {
        width: 30%;
        text-align: end;
    }

    &__expand {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
        &-body {
            color: initial;
            background: #fff;
            padding: 5px;
            margin: 10px;
            border-radius: 3px;
        }
        &.open {
            max-height: 1000px;
            transition: max-height 1s ease-in-out;
        }
    }
}
.more-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    button {
        font-weight: 700;
        font-size: 18px;
        border: none;
        background-color: transparent;;
        padding: 0;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover button{
        text-decoration: underline;
    }
    .arrow {
        position: relative;
        top: -3px;
        &.up {
            top: 0px
        }
    }
}

@media (max-width: abs.$smd_mobile) {
    .item {
        width: inherit;
        &__prop {
            width: 50%;
        }
        &__group.item--compact {
            flex-direction: column;
            font-size: 16px;
        }
        &__group.f-33{
            flex: 100%;
            margin: 0;
        }
    }
}