@use '../abstracts/' as abs;

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
body, button {
    font-size: abs.$smd_font-size;
    font-family: abs.$smd_font-family;
    line-height: abs.$smd_line-heigth;
}
hr {
    border: 2px dashed rgba(68, 25, 239, 0.0705882353);
}
sup {
    top: -0.5em;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
}

.site {
    &-main {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 50px 25px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &-data {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 25px 0px;
        border-top: 2px dashed abs.$smd_blue;
        justify-items: center;
    }
}

.content-wrap {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
}

@media (max-width: abs.$smd_mobile) {
    .site {
        &-data {
            display: flex;
            flex-direction: column;
        }
    }

    .content-wrap {
        display: flex;
        flex-direction: column-reverse;
    }
}